
<i class="material-icons">face</i><i class="material-icons">favorite</i><i class="material-icons">thumb_up</i><i class="material-icons">thumb_down</i><i class="material-icons">comment</i>

<i class="material-icons orange600 md-48">&#xE87C;</i>

<ul class="flex-container">
    <li class="flex-item">
            <img width="40%" alt="HelpMe logo" src="assets/HelpMeIcon.gif">
    </li>
    <li class="flex-item">
            <span style="background-color:black; color:white">
                    Access from County Intranet and/or via your Cell Phone
                    <br/><br/>
                    Get quick answer, like you ask Google
                    <br/><br/>
                    There are multiple options so you can pick the answer you need
                    <br/><br/>
                    You can give feed back to HelpMe, and we will make improvement
            </span>
    </li>
</ul>