<mat-card class="material-card w800">
      <mat-card-content>
            <img mat-card-image alt="HelpMe Chart" src="assets/HelpMe002.png">
      </mat-card-content>
      <mat-card-footer></mat-card-footer>
</mat-card>
<div class="wrap">
      <div>
        <button mat-fab class="material-button red001">
            <mat-icon (click)="gotoIntroduction()">skip_previous</mat-icon>
        </button>
      </div>
      <div>
        <button mat-fab class="material-button red001">
            <mat-icon (click)="gotoSampleList()">skip_next</mat-icon>
        </button>
      </div>
</div>
