<mat-card>
    <img width="90%" alt="HelpMe Chart" src="assets/HelpMe002.png">
</mat-card>


<mat-card>
    
    <mat-card-title>Help Me at a Glance</mat-card-title>

    <button mat-raised-button class="material-button red001">Click me!</button>
    <button mat-fab class="material-button red001">Click me!</button>
    <button mat-icon-button>
        <mat-icon>mic</mat-icon>
    </button>
    <mat-card-footer></mat-card-footer>
</mat-card>

<mat-card class="material-card md-150">
    
        <i class="material-icons md-24">face</i>
        <i class="material-icons md-24">favorite</i>
        <i class="material-icons md-24">thumb_up</i>
        <i class="material-icons md-24">thumb_down</i>
        <i class="material-icons md-24">comment</i>
    
</mat-card>
    