<mat-card>
    <mat-card-title><h2 class="material-card purple100">Help Me Sample Response</h2></mat-card-title>

<!--
<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Self aware panel
</mat-panel-title>
<mat-panel-description>
Currently I am {{panelOpenState ? 'open' : 'closed'}}
</mat-panel-description>
</mat-expansion-panel-header>
<p>I'm visible because I am open</p>
</mat-expansion-panel>
-->

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
2017-Oct. 5, Garden Grove - Food Safety Seminar
</mat-panel-title>
</mat-expansion-panel-header>
<p>Will show detail regarding the Food Safety Seminar</p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Retail Food Inspection Guide
</mat-panel-title>
</mat-expansion-panel-header>
<p>Will show content of Retail Food Inspection Guide</p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
California Retail Food Code
</mat-panel-title>
</mat-expansion-panel-header>
<p>Will show link to California Retail Food Code</p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Federal Bill Emerson Good Samaritan Food Donation
</mat-panel-title>
</mat-expansion-panel-header>
<p>Will show link to more detail on the Federal Bill</p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Health Department Contact
</mat-panel-title>
</mat-expansion-panel-header>
<p>Name One</p>
<p>Name Two</p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Health Department IT Contact
</mat-panel-title>
</mat-expansion-panel-header>
<p>OCIT</p>
<p>Application Support</p>
<p>Operation Support</p>
<p>Help Desk</p>
</mat-expansion-panel>

    <mat-card align="center">
      <i class="material-icons md-24">face</i>
      <i class="material-icons md-24">favorite</i>
      <i class="material-icons md-24">thumb_up</i>
      <i class="material-icons md-24">thumb_down</i>
      <i class="material-icons md-24">comment</i>
    </mat-card>
  <mat-card align="center">
    <button mat-raised-button class="material-button red001"
    (click)="goSamplelist()">Return to Selections</button>
  </mat-card>

</mat-card>

