<mat-card>
    <mat-card-title><h2 class="material-card purple100">Help Me Sample Response</h2></mat-card-title>

<!--
<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Self aware panel
</mat-panel-title>
<mat-panel-description>
Currently I am {{panelOpenState ? 'open' : 'closed'}}
</mat-panel-description>
</mat-expansion-panel-header>
<p>I'm visible because I am open</p>
</mat-expansion-panel>
-->

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
California's New Law Prop. 63 - Takes Effect January 1, 2018
</mat-panel-title>
</mat-expansion-panel-header>
<p>...</p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Orange County Superior Court send Minutes-Order with this new law to OC Probation Department
</mat-panel-title>
</mat-expansion-panel-header>
<p>With a special Docket Code [PBRPT3]</p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Orange County Probation Department officers help prepare documents and may go to remove weapons own from a felon.
</mat-panel-title>
</mat-expansion-panel-header>
<p>...</p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
There are estimated ### people would be effected.
</mat-panel-title>
</mat-expansion-panel-header>
<p>...</p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Probation Contact
</mat-panel-title>
</mat-expansion-panel-header>
<p>Name One</p>
<p>Name Two</p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Court Contact
</mat-panel-title>
</mat-expansion-panel-header>
<p>...</p>
<p>...</p>
</mat-expansion-panel>


<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Other related departments
</mat-panel-title>
</mat-expansion-panel-header>
<p>...</p>
<p>...</p>
</mat-expansion-panel>

    <mat-card align="center">
      <i class="material-icons md-24">face</i>
      <i class="material-icons md-24">favorite</i>
      <i class="material-icons md-24">thumb_up</i>
      <i class="material-icons md-24">thumb_down</i>
      <i class="material-icons md-24">comment</i>
    </mat-card>
  <mat-card align="center">
    <button mat-raised-button class="material-button red001"
     (click)="goSamplelist()">Return to Selections</button>
  </mat-card>

</mat-card>

