<mat-card>
    <h2>"HelpMe System Demo Sample List"</h2>
    <mat-grid-list cols="4" rowHeight="4em" role="list">
        <ul *ngFor="let sample of demoSamples" style="list-style: none;">
          <li>
            <mat-grid-tile role="listitem">
                <button mat-raised-button class="material-button red001"
                        (click)="openHelpMeDialog()">{{sample.search}}</button>
            </mat-grid-tile>  
            <mat-grid-tile colspan="3" role="listitem">
                <p class="basic-container">
                    {{sample.description}}
                </p>        
            </mat-grid-tile>  
          </li>
        </ul>
      </mat-grid-list>
         

</mat-card>

  