<mat-card>
    <mat-card-title><h2 class="material-card purple100">Help Me Sample Response</h2></mat-card-title>
<!--
<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Self aware panel
</mat-panel-title>
<mat-panel-description>
Currently I am {{panelOpenState ? 'open' : 'closed'}}
</mat-panel-description>
</mat-expansion-panel-header>
<p>I'm visible because I am open</p>
</mat-expansion-panel>
-->

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
http://occonstruction.ocpublicworks.com/contact/parking
</mat-panel-title>
</mat-expansion-panel-header>
<p>P4-Hall of Administration Pay Lot</p>
<p>714-6679615</p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
  http://ocparking.admin.ocpublicworks.com/civicax/filebank/blobdload.aspx?blobid=59743
</mat-panel-title>
</mat-expansion-panel-header>
<p>P8-Transit Towers Parking Structure</p>
<p>714-6679615</p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
  http://ocparking.admin.ocpublicworks.com/civicax/filebank/blobdload.aspx?blobid=59743</mat-panel-title>
</mat-expansion-panel-header>
<p>P5-Historic Courthouse Metered Surface Parking Lot</p>
<p>714-6679615</p>
</mat-expansion-panel>

  <mat-card align="center">
      <i class="material-icons md-24">face</i>
      <i class="material-icons md-24">favorite</i>
      <i class="material-icons md-24">thumb_up</i>
      <i class="material-icons md-24">thumb_down</i>
      <i class="material-icons md-24">comment</i>
  </mat-card>
  <mat-card align="center">
    <button mat-raised-button class="material-button red001" (click)="goSamplelist()">Return to Selections</button>
  </mat-card>

</mat-card>

