<mat-card>
    <mat-card-title><h2 class="material-card purple100">Help Me Sample Response</h2></mat-card-title>
    <mat-card-subtitle><h3>Canyon File, show roads closed</h3></mat-card-subtitle>
    <mat-card-subtitle><h4>Canyon File 2 was declared 100% contained on 10/17/2017.  This page is for an example of if someone ask Help Me on 10/10/2017</h4></mat-card-subtitle>

<!--
<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Self aware panel
</mat-panel-title>
<mat-panel-description>
Currently I am {{panelOpenState ? 'open' : 'closed'}}
</mat-panel-description>
</mat-expansion-panel-header>
<p>I'm visible because I am open</p>
</mat-expansion-panel>
-->

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
10/10/2017
</mat-panel-title>
</mat-expansion-panel-header>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Location
</mat-panel-title>
</mat-expansion-panel-header>
<p></p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Anaheim
</mat-panel-title>
</mat-expansion-panel-header>
<p>Santa Ana Canyon Road at Weir Conyon</p>
<p>Weir Canyon at Monte Vista, Weir Conyon at Serrano</p>
<p>Serrano at Canyon Creek, Serrano at Sunset Ridge, Serrano at E. High Crest Drive</p>
<p>Serrano at Canyon Rim, Serrano at Hidden Canyon, Serrano at Grinnel</p>
<p>Sersano at Calie Venado, Serrano at Nohl Ranch</p>
<p>Loyola at Rudgers</p>

</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Orange
</mat-panel-title>
</mat-expansion-panel-header>
<p>Canyon View at Santiago, Canyon View at Skylark, Canyon View at Jamboree</p>
<p>Fort Road at Canyon View, Newport at Canyon View, Orange Park at Chapman</p>
<p>Santiago at Jamboree, Santiago at Winds, Canon at Santiago</p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Tustin
</mat-panel-title>
</mat-expansion-panel-header>
<p>Northbound Jamboree at Tustin Ranch, Pioneer at Tustin Ranch</p>
<p>Jamboree and Patriot, Jamboree and pioneer</p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Animal owners can contact: www.ocpetinfo.com
</mat-panel-title>
</mat-expansion-panel-header>
</mat-expansion-panel>

    <mat-card align="center">
      <i class="material-icons md-24">face</i>
      <i class="material-icons md-24">favorite</i>
      <i class="material-icons md-24">thumb_up</i>
      <i class="material-icons md-24">thumb_down</i>
      <i class="material-icons md-24">comment</i>
    </mat-card>
  <mat-card align="center">
    <button mat-raised-button class="material-button red001"
    (click)="goSamplelist()">Return to Selections</button>
  </mat-card>
  <img mat-card-image alt="HelpMe Sample006" src="assets/canyon2017.png">

</mat-card>

