<mat-card>
    <mat-card-title><h2 class="material-card purple100">Help Me Sample Response</h2></mat-card-title>
    <mat-card-subtitle><h3>Having problem with using Word Templates.  Ask for password; Macro not running</h3></mat-card-subtitle>

<!--
<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Self aware panel
</mat-panel-title>
<mat-panel-description>
Currently I am {{panelOpenState ? 'open' : 'closed'}}
</mat-panel-description>
</mat-expansion-panel-header>
<p>I'm visible because I am open</p>
</mat-expansion-panel>
-->

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Make sure to use Terminal Server for Remote
</mat-panel-title>
</mat-expansion-panel-header>
<p>...</p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Check Windows-Explorer for [G:] drive
</mat-panel-title>
</mat-expansion-panel-header>
<p>Open the Windows-Explorer (a yellow file folder icon)</p>
<p>Check to ensure [G:] is present under the 'Computer' session</p>
<p>Check to ensure [G:] is connecting (no big red 'X' next to it)</p>

</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Try Sign Off from network, then Sign back on. (Wait a little bit for commands to run in the back)
</mat-panel-title>
</mat-expansion-panel-header>
<p>...</p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Go to Probnet to run Word-Template setup again
</mat-panel-title>
</mat-expansion-panel-header>
<p>Wait for each step to complete</p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Start Word, New, My Template, to see if the tabs are there.
</mat-panel-title>
</mat-expansion-panel-header>
<p>Adult Supervision</p>
<p>Adult Court</p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Run your Word template/document
</mat-panel-title>
</mat-expansion-panel-header>
<p>...</p>
</mat-expansion-panel>

    <mat-card align="center">
      <i class="material-icons md-24">face</i>
      <i class="material-icons md-24">favorite</i>
      <i class="material-icons md-24">thumb_up</i>
      <i class="material-icons md-24">thumb_down</i>
      <i class="material-icons md-24">comment</i>
    </mat-card>
  <mat-card align="center">
    <button mat-raised-button class="material-button red001"
    (click)="goSamplelist()">Return to Selections</button>
  </mat-card>

</mat-card>

