<mat-card>
    <mat-card-title><h2 class="material-card purple100">Help Me Sample Response</h2></mat-card-title>
    <mat-card-subtitle><h3>What is County currently doing to Help the homeless</h3></mat-card-subtitle>

<!--
<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Self aware panel
</mat-panel-title>
<mat-panel-description>
Currently I am {{panelOpenState ? 'open' : 'closed'}}
</mat-panel-description>
</mat-expansion-panel-header>
<p>I'm visible because I am open</p>
</mat-expansion-panel>
-->

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Homeless Outreach Court</mat-panel-title>
</mat-expansion-panel-header>
<p>A Collaborative Court program offered by the Orange County Superior Court, in collaboration with the Public Defender, the District Attorney, the Health Care Agency, the Social Agency, the Public Law Center, the Veterans Administration, the County Department of Housing and Community Services, and several homeless services providers</p>
<p>Homeless individuals facing infractions, low-level misdemeanor offenses and outstanding warrants have a unique opportunity through the Homeless Outreach Court</p>
<p>Once accepted into the program, participants are expected to come to court every two to three months to discuss their progress, struggles and achievements</p>
<p>Create a positive environment to help the homeless get back on their feet and become productive member to our society</p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
To help our community, read more...
</mat-panel-title>
</mat-expansion-panel-header>
<p></p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Collaborative Courts Foundation
</mat-panel-title>
</mat-expansion-panel-header>
<p>http://www.collaborativecourtsfoundation.org</p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Collaborative Courts 2016 Annual Report</mat-panel-title>
</mat-expansion-panel-header>
<p>http://www.occourts.org/directory/collaborative-courts/records/2016_Annual_Report.pdf</p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Collaborative Courts webpage</mat-panel-title>
</mat-expansion-panel-header>
<p>http://www.occourts.org/directory/collaborative-courts/</p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Homeless xChange
</mat-panel-title>
</mat-expansion-panel-header>
</mat-expansion-panel>

    <mat-card align="center">
      <i class="material-icons md-24">face</i>
      <i class="material-icons md-24">favorite</i>
      <i class="material-icons md-24">thumb_up</i>
      <i class="material-icons md-24">thumb_down</i>
      <i class="material-icons md-24">comment</i>
    </mat-card>
  <mat-card align="center">
    <button mat-raised-button class="material-button red001"
    (click)="goSamplelist()">Return to Selections</button>
  </mat-card>

</mat-card>

