/* You can add global styles to this file, and also import other style files */
body { 
    font-family: Roboto, Arial, sans-serif;
    margin: 2;
}
 
.basic-container {
    padding: 5px;
}  

.material-icons.orange600 { color: rgb(251, 113, 0); }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-button.red001 { color: white; background-color: rebeccapurple}

.material-card.md-150 { width: 150px; }
.material-card.md-center { align-self: center; }
.material-card.purple100 {color: rgba(138, 38, 138, 0.856)};
.material-card.greenapple { color: rgb(165, 228, 167)}

mat-grid-tile {
    background: rgb(225, 232, 235);
    padding: 3;
  }

.mat-input.blue {
    background: rgb(225, 232, 235);
    height: 75px;
  }
  

.material-card.w400 {
    width: 400px;
    height: 300px;
  } 
.material-card.w800 {
    width: 800px;
    height: 600px;
  }   
  
.material-card.w1000 {
    width: 1000px;
    height: 700px;
}      